myenv
airflow/logs
standalone_admin_password.txt
api_key.txt
airflow/airflow.db
airflow/airflow-webserver.pid
aws_credentials.py
__pycache__
transactions.json
/downloads
.vscode
dbt-env

dbt/dbt_faker_transactions/profiles.yml
dbt/dbt_faker_transactions/target/
dbt/dbt_faker_transactions/dbt_packages/
dbt/dbt_faker_transactions/logs/
dbt/dbt_faker_transactions/.user.yml

